header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.9%;
    height: 20px;
    background-color: black;
    color : white;
    width: 80%;
    margin:  0 30px 0 60px;
    font-size: 10px;
}

img{
    background-color: black;
    height: 30px;
    width: 90px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: white
}
button{
    background-color: black;
    color: white;
    border: none;
}
.cadastro{
    color: white;
    background-color: rgb(153, 0, 255);
    padding: 9px;
    font-size: 9px;
}
.botoes{
    display: flex;
    align-items: center;
    gap: 5px;
}
body{
    background-color: rgb(250, 246, 246);
}







footer{
    display: flex;
    background-color: rgb(41, 40, 40);
    font-size: 8px;
    color:rgb(255, 255, 255);
    justify-content: space-evenly;
    margin:  0 30px 0 60px;
    width: 80%;
    
}

.institucional{
     flex-direction:column;
     gap: 6px;
}
.ajuda {
    flex-direction:column;
     gap: 6px;
}

.endereco {
    flex-direction:column;
     gap: 6px;

}
footer{
    display: flex;
    background-color: rgb(41, 40, 40);
    font-size: 10px;
    color:white;
    justify-content: space-evenly;
    margin:  0 30px 0 60px;
    width: 80%;
    margin-bottom: 20px;
    padding: 11px;
}

.institucional{
     flex-direction:column;
     gap: 6px;
     
}
.ajuda {
    flex-direction:column;
     gap: 6px;
}

.endereco {
    flex-direction:column;
     gap: 6px;
}
.lista{
    color: rgb(108, 64, 230);
    flex-direction:column;
     gap: 6px;
}
footer li a{
    color: rgb(177, 126, 219);
}
.copyright{
    color: white;
    font-size: 11px;
   text-align: center;
}

